<div fxLayout="column" fxLayoutGap="-1px">
  <div class="example-margin" layout="row">
    <img style="padding-right: 15px;" src="../assets/academic-icon.svg" alt="Product-Icon" fxFlex="20" />
    <div fxLayout="column" fxLayoutGap="-1px" fxFlex="80">
      <div fxLayout="column" fxLayoutGap="-1px" fxFlex="80">
        <p class="subtitle">Nombre</p>
        <p>{{integrante.nombre}}</p>
      </div>
      <div fxLayout="column" fxLayoutGap="-1px" fxFlex="80">
        <p class="subtitle">Correo</p>
        <p>{{integrante.correo}}</p>
      </div>
    </div>
  </div>
  <div class="example-margin" layout="row">
    <div fxLayout="column" fxLayoutGap="-1px" fxFlex="80">
      <mat-slide-toggle>Es miembro</mat-slide-toggle>
    </div>
  </div>
</div>