<h1 mat-dialog-title>Agregar Colaborador Externos</h1>
<div mat-dialog-content>
    <p>Ingrese los datos del nuevo colaborador</p>
    <form novalidate fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Grado</mat-label>
        <input name="titulo" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Nombre</mat-label>
        <input name="grado" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Institución</mat-label>
        <input name="institucion" matInput required />
      </mat-form-field>
      <section class="example-section">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon>group_add</mat-icon>
          </button>
        </div>
      </section>
    </form>
    
</div>
<div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button>
</div>