<div fxLayout="row">
  <h1 mat-dialog-title>Agregar Colaborador Externos</h1>
  <span class="example-spacer"></span>
  <button class="example-icon" mat-icon-button (click)="onNoClick()">
      <mat-icon class="utility-icon" aria-label="Close Button">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p>Ingrese los datos del nuevo colaborador</p>
  <form novalidate fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Grado</mat-label>
      <mat-select [(ngModel)]="colaborador.grado" name="grado"
        required>
        <mat-option value="Estudiante">Estudiante</mat-option>
        <mat-option value="Licenciado">Licenciado</mat-option>
        <mat-option value="Maestro">Maestro</mat-option>
        <mat-option value="Doctor">Doctor</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Nombre</mat-label>
      <input name="nombre" [(ngModel)]="colaborador.nombre" matInput required />
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Institución</mat-label>
      <input name="institucion" [(ngModel)]="colaborador.institucion" matInput required />
    </mat-form-field>
    <section class="example-section">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="7px" fxLayoutGap.sm="0px">
        <button type="submit" mat-raised-button color="primary" (click)="clickAgregarOActualizarColaborador()">
          <mat-icon>group_add</mat-icon>
        </button>
      </div>
    </section>
  </form>
  <mat-action-list class="make-scrollable" flex>
    <mat-list-item *ngFor="let colaborador of listaColaboradores" (click)="clickColaborador(colaborador)" class="list-item-on-hover">
      <mat-icon mat-list-icon class="icon-color">supervised_user_circle</mat-icon>
      <h4 mat-line>{{colaborador.nombre}}</h4>
      <p mat-line>{{colaborador.institucion}}</p>
      <div class="example-icon showOption">
        <button mat-icon-button class="button-to-show icon-color" matTooltip="Eliminar" matTooltipPosition="above" (click)="eliminarColaborador(colaborador.id)">
          <mat-icon aria-label="Delete Button" class="utility-icon">delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-action-list>
</div>