<div class="container my-5">
  <div class="row">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- Autor -->
          <div class="form-group">
            <input type="text" id="autor" class="form-control" required>
            <label class="form-control-placeholder" for="autor">Autor</label>
          </div>
          <!-- Propósito -->
          <div class="form-group">
            <input type="text" id="proposito" class="form-control" required>
            <label class="form-control-placeholder" for="proposito">Propósito</label>
          </div>
          <!-- Nombre del Congreso -->
          <div class="form-group">
            <input type="text" id="nombreCongreso" class="form-control" required>
            <label class="form-control-placeholder" for="nombreCongreso">Nombre del Congreso</label>
          </div>
          <div class="form-group">
            <div class="form-row mb-4">
              <div class="col">
                <!-- Ciudad -->
                <input type="text" id="ciudad" class="form-control" required>
                <label class="form-control-placeholder" for="ciudad">Ciudad</label>
              </div>
              <div class="col">
                <!-- Estado -->
                <input type="text" id="estado" class="form-control" required>
                <label class="form-control-placeholder" for="estado">Estado</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row mb-4">
              <div class="col">
                <!-- Pais -->
                <input type="text" id="pais" class="form-control" required>
                <label class="form-control-placeholder" for="pais">Pais</label>
              </div>
              <div class="col">
                <!-- Fecha de Publicación -->
                <label class="form-control-placeholder" for="publicacion" style="font-size: 75%;
                      transform: translate3d(0, -110%, 0);
                      opacity: 1;">Pais</label>
                <kendo-datepicker [(value)]="valueDate"></kendo-datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="form-row mb-3">
            <div class="col">
              <!-- Página Inicio -->
              <input type="number" id="pagInicio" class="form-control" required>
              <label class="form-control-placeholder" for="pagInicio">Página Inicio</label>
            </div>
            <div class="col">
              <!-- Página Final -->
              <input type="number" id="pagFinal" class="form-control" required>
              <label class="form-control-placeholder" for="pagFinal">Página Final</label>
            </div>
            
          </div>
          <div class="form-row mb-3" style="transform: translate3d(0, 30%, 0);">
            <div class="col">
              <div class="form-group">
                <!-- Línea de Generación -->
                <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
                      transform: translate3d(0, -110%, 0);
                      opacity: 1;">Línea de Generación</label>
                <kendo-dropdownlist id="lgac" [data]="listItems" style="width: 10.7em;">
                </kendo-dropdownlist>
              </div>
            </div>
            <div class="col">
              <!-- Considerar para CA -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Considerar para CA</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <!-- Estatus -->
                <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
                      transform: translate3d(0, -110%, 0);
                      opacity: 1;">Estatus</label>
                <kendo-dropdownlist id="lgac" [data]="listItems" style="width: 10.7em;">
                </kendo-dropdownlist>
              </div>
            </div>
          </div>

          <!-- Colaborador Interno -->
          <div class="form-group">
            <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
          transform: translate3d(0, -110%, 0);
          opacity: 1;">Colaboradores Internos</label>
            <kendo-multiselect [data]="data" [filterable]="true" (valueChange)="valueChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()">
            </kendo-multiselect>
          </div>
          <!-- Colaborador Externo -->
          <div class="form-group">
            <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
            transform: translate3d(0, -110%, 0);
            opacity: 1;">Externos</label>
            <kendo-multiselect [data]="data" [filterable]="true" (valueChange)="valueChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()">
            </kendo-multiselect>
          </div>
        </div>
        <div class="col">
          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl">
          </kendo-upload>
        </div>
      </div>
    </div>
  </div>
  <div class="number-right">
    <button type="button" class="btn btn-outline-secondary btn-space">Cancelar</button>
    <button class="btn btn-primary btn-space" type="submit">Guardar</button>
  </div>
</div>