<mat-divider></mat-divider>
<br />
<form (ngSubmit)="onGuardarCapitulo(formNew)" #formNew="ngForm" fxLayout="column">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Título del Capítulo</mat-label>
      <input [(ngModel)]="capitulo.titulo" name="titulo" matInput required />
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Título del Libro</mat-label>
      <input [(ngModel)]="capitulo.tituloLibro" name="tituloLibro" matInput required />
    </mat-form-field>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="7px"
      fxLayoutGap.sm="0px"
    >
      <mat-form-field fxFlex appearance="outline">
        <mat-label>ISBN</mat-label>
        <input [(ngModel)]="capitulo.isbn" name="isbn" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Año</mat-label>
        <input [(ngModel)]="capitulo.year" name="year" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Edición</mat-label>
        <input [(ngModel)]="capitulo.numEdicion" name="numEdicion" matInput required />
      </mat-form-field>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Propósito</mat-label>
      <input [(ngModel)]="capitulo.proposito" name="proposito" matInput required />
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Línea de Generación</mat-label>
      <mat-select [(ngModel)]="capitulo.lineaGeneracion" name="lineaGeneracion" required>
        <mat-option value="volvo">Volvo</mat-option>
        <mat-option value="saab">Saab</mat-option>
        <mat-option value="mercedes">Mercedes</mat-option>
        <mat-option value="audi">Audi</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="example-section">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Evidencia
        <mat-icon>create_new_folder</mat-icon>
      </button>
      <input hidden type="file" #fileInput />
    </section>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="7px"
      fxLayoutGap.sm="0px"
    >
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Editorial</mat-label>
        <input [(ngModel)]="capitulo.editorial" name="editorial" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>País</mat-label>
        <input [(ngModel)]="capitulo.pais" name="pais" matInput required />
      </mat-form-field>
    </div>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Colaboradores</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
          topping
        }}</mat-option>
      </mat-select>
      <mat-icon matSuffix class="material-icon"
        >supervised_user_circle</mat-icon
      >
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="capitulo.estado" name="estado" required>
        <mat-option value="publicado">Publicado</mat-option>
        <mat-option value="terminado">Terminado</mat-option>
        <mat-option value="en_proceso">En Proceso</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="7px"
    fxLayoutGap.sm="0px"
  >
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="7px"
      fxLayoutGap.sm="0px"
    >
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Página Inicio</mat-label>
        <input type="number" min="0" step="1" [(ngModel)]="capitulo.paginaInicio" name="paginaInicio" matInput required />
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Página Final</mat-label>
        <input type="number" min="0" step="1" [(ngModel)]="capitulo.paginaFinal" name="paginaFinal" matInput required />
      </mat-form-field>
    </div>
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Colaboradores Externos</mat-label>
      <mat-select [formControl]="toppings" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
          topping
        }}</mat-option>
      </mat-select>
      <mat-icon matSuffix class="material-icon"
        >supervised_user_circle</mat-icon
      >
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox [checked]="capitulo.consideradoPCA" (change)="onChange($event)" class="example-margin" color="primary">
        Considerar para Cuerpo Académico
      </mat-checkbox>
    </section>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div class="example-button-row">
      <button type="reset" mat-stroked-button color="primary">Cancelar</button>
      <button type="submit" mat-raised-button color="primary">Guardar</button>
    </div>
  </div>
</form>
