<div class="container my-5">
  <div class="row">
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- Título del Libro -->
          <div class="form-group">
            <input type="text" id="tituloLibro" class="form-control" required [(ngModel)]="tituloLibro">
            <label class="form-control-placeholder" for="tituloLibro">Título del Libro</label>
          </div>
          <!-- Propósito -->
          <div class="form-group">
            <input type="text" id="proposito" class="form-control" required>
            <label class="form-control-placeholder" for="proposito">Propósito</label>
          </div>
          <div class="form-group">
            <div class="form-row mb-4">
              <div class="col">
                <!-- Editorial -->
                <input type="text" id="editorial" class="form-control" required>
                <label class="form-control-placeholder" for="editorial">Editorial</label>
              </div>
              <div class="col">
                <!-- Pais -->
                <input type="text" id="pais" class="form-control" required>
                <label class="form-control-placeholder" for="pais">Pais</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row mb-4">
              <div class="col">
                <!-- Página Inicio -->
                <input type="number" id="pagInicio" class="form-control" required>
                <label class="form-control-placeholder" for="pagInicio">Página Inicio</label>
              </div>
              <div class="col">
                <!-- Página Final -->
                <input type="number" id="pagFinal" class="form-control" required>
                <label class="form-control-placeholder" for="pagFinal">Página Final</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="form-row mb-3">
            <div class="col">
              <!-- ISBN -->
              <input type="text" id="isbn" class="form-control" required>
              <label class="form-control-placeholder" for="isbn">ISBN</label>
            </div>
            <div class="col">
              <!-- Año -->
              <input type="text" id="año" class="form-control" required>
              <label class="form-control-placeholder" for="año">Año</label>
            </div>
            <div class="col">
              <!-- Edición -->
              <input type="text" id="edicion" class="form-control" required>
              <label class="form-control-placeholder" for="edicion">Edición</label>
            </div>
          </div>
          <div class="form-row mb-3" style="transform: translate3d(0, 13%, 0);">
            <div class="col">
              <div class="form-group">
                <!-- Línea de Generación -->
                <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
                      transform: translate3d(0, -110%, 0);
                      opacity: 1;">Línea de Generación</label>
                <kendo-dropdownlist id="lgac" [data]="listItems" style="width: 10.7em;">
                </kendo-dropdownlist>
              </div>
            </div>
            <div class="col">
              <!-- Edición -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Considerado</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <!-- Estatus -->
                <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
                      transform: translate3d(0, -110%, 0);
                      opacity: 1;">Estatus</label>
                <kendo-dropdownlist id="lgac" [data]="listItems" style="width: 10.7em;">
                </kendo-dropdownlist>
              </div>
            </div>
          </div>

          <!-- Colaorador Interno -->
          <div class="form-group" style="transform: translate3d(0, -15%, 0);">
            <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
          transform: translate3d(0, -110%, 0);
          opacity: 1;">Colaboradores Internos</label>
            <kendo-multiselect [data]="data" [filterable]="true" (valueChange)="valueChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()">
            </kendo-multiselect>
          </div>
          <!-- Colaorador Externo -->
          <div class="form-group" style="transform: translate3d(0, -15%, 0);">
            <label class="form-control-placeholder" for="lgac" style="font-size: 75%;
            transform: translate3d(0, -110%, 0);
            opacity: 1;">Externos</label>
            <kendo-multiselect [data]="data" [filterable]="true" (valueChange)="valueChange($event)"
              (filterChange)="filterChange($event)" (open)="open()" (close)="close()" (focus)="focus()" (blur)="blur()">
            </kendo-multiselect>
          </div>
        </div>
        <div class="col">
          <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl">
          </kendo-upload>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-outline-secondary btn-space">Cancelar</button>
    <button class="btn btn-primary btn-space" type="submit">Guardar</button>
  </div>
</div>